* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: darkorange;
}
.nav {
  background: linear-gradient(rgba(0, 255, 255,0.7),rgba(0, 255, 255,0.5));
  position:relative;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  
  padding:0 20vw 0 20vw;
 


}
.img{
  width: 100%;
  position: relative;
  display: flex;
  padding-top: 125vh;
  padding-left: 10vw;
  opacity:0.5;
}

.menu{
  border:none;
  background-color: rgba(0, 255, 255,0);

}
.dropdown {
  position: relative;
  display: inline-block;
 
  
  
}
.dropdown-child {
  display: none;
  min-width: 10px;
}
.dropdown-child a {
  color: white;
  padding: 2px;
  text-decoration: none;
  display: block;
  
}
.dropdown:hover .dropdown-child {
  display: block;
}
.paragraphe{
    width: 100%;   
    padding:10vh 10vh 10vh 10vh;
    background-color: cyan;
    background: linear-gradient(to bottom,
    rgba(0, 255, 255,0.5),
    rgba(23, 44, 44, 1));
    text-transform:capitalize;
}

.columns {
  background: cyan;
  background: linear-gradient(to top,rgba(0, 255, 255,0.5),rgba(0, 255, 255,0.5));
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
ul li {
  list-style-type: none;
}
ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #3bffe8;
  font-size: 30px;
  font-weight: 700;
  transition: 0.5s;
}
ul li a:hover {
  color: rgba(255, 255, 255, 0.1);
}
ul li a::before {
  content: attr(data-text);
  position: absolute;
  font-size: 15px;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 50px #fff;
  font-weight: 500;
  letter-spacing: 10px;
  transition: 0.5s;
  opacity: 0;
}
ul li a:hover::before {
  opacity: 1;
  letter-spacing: 15px;
}
.wrapper{
    background-color: cyan;
    padding: 25px;
    width:100%;
    display: flex;
    justify-content: space-around;
    background:linear-gradient(to top,
    rgba(0, 255, 255,0.5),
    rgba(23, 44, 44, 1));
   
}
.cards{
    width: 280px;
    height: 360px;
    padding: 4vw 10vh;
    position: relative;
    display: flex;
    background: #fff;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.cards:hover{
  transform: translateY(20px);
}
.cards:before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
  rgba(0, 255, 255,0.5),
  rgba(23, 44, 44, 1));
  z-index: 2;
  transition: 0.5 all;
  opacity: 0;

}
.cards:hover:before{
  opacity: 1;
}
.cards img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  top:0;
  left:0;
  position: absolute;
 }
 .cards .info{
   position: relative;
   z-index: 3;
   color:#fff;
   opacity: 0;
   transform: translateY(30px);
   transition: 0.5s all;
 }
 .cards:hover .info{
   opacity: 1;
   transform: translateY(0px);
 }
 .cards .info h2{
   margin: 0;
 }
 .cards .info .heading{
   letter-spacing: 1px;
   font-size: 10px;
 }
  
 .btn {
  margin-top: 1vh; 
  background-color: rgba(211, 211, 211, 0.3);
  text-decoration: none;
  color: #fff;
  height: 10px;
  font-size: 12px;
}

@media screen and (max-width:920px){

.wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.label{
  display: flex;
  padding-left: 25vw;

}
}
  
